body{
  background-color: #666666;
}

.text{
  font-variant: small-caps;
  text-align:center;
  color:white;
}

.get{
  width: 88%;
  padding-top:2%;
  padding:20px;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  box-shadow: 0px 2px 10px -1px rgba(200, 200, 200, 0.698);
  background: none repeat scroll 0% 0% #FFF;
}
.main{
/*   border: 4px double black; /* Параметры границы */ */
  padding: 10px; 	/*отступ от текста*/
/*   border-style: inset; /*стиль рамки*/ */
  width: 95%;
  height: 25%;  
}

.head{
  width: 90%;
  border: 1px solid #E5E5E5;
  border-radius: 5px;
  box-shadow: 0px 2px 10px -1px rgba(200, 200, 200, 0.698);
  background: none repeat scroll 0% 0% #FFF;  
  padding: 10px;
}

.hight{
  float: left;
/*   height: 90%; */
  width: 23%;
/*   border: 4px double black; /* Параметры границы */ */
  padding: 10px; 	/*отступ от текста*/
/*   border-style: inset; */

}

	.hightIn{
	  /*border: 4px double black; /* Параметры границы */*/
/* 	  padding: 10px; */
	  border-style: outset;
	  /*height: 24%;*/
	  overflow-x:hidden;
	  
	}
	
.middle{
  float: left;
/*   height: 90%; */
  width: 23%;
/*   border: 4px double black; /* Параметры границы */ */
  padding: 10px; 	/*отступ от текста*/
/*   border-style: inset; */
}

	.middleIn{
	  /*border: 4px double black; /* Параметры границы */*/
/* 	  padding: 10px; */
	  border-style: outset;
	  /*height: 24%;*/
	  overflow-x:hidden;
	}
	

.low{
  float: left;
/*   height: 90%; */
  width: 23%;
/*   border: 4px double black; /* Параметры границы */ */
  padding: 10px; 	/*отступ от текста*/
/*   border-style: inset; */
}

	.lowIn{
	  /*border: 4px double black; /* Параметры границы */*/
/* 	  padding: 10px; */
	  border-style: outset;
	  /*height: 24%;*/
	  overflow-x:hidden;
	}
	
.other{
  float: left;
/*   height: 90%; */
  width: 23%;
/*   border: 4px double black; /* Параметры границы */ */
  padding: 10px; 	/*отступ от текста*/
/*   border-style: inset; */
}

	.otherIn{
	  /*border: 4px double black; /* Параметры границы */*/
/* 	  padding: 10px; */
	  border-style: outset;
	  /*height: 24%;*/
	  overflow-x:hidden;
	}
	
.footer{
  /*border: 4px double black; /* Параметры границы */*/
  padding: 10px;
  border-style: outset;
}