.main{
/*   border: 4px double black; /* Параметры границы */ */
  padding: 10px; 	/*отступ от текста*/
/*   border-style: inset; /*стиль рамки*/ */
  width: 95%;
  height: 25%;  
}

.head{
  border: 4px double black; /* Параметры границы */
  padding: 10px;
  border-style: outset;
}

.hight{
  float: left;
/*   height: 90%; */
  width: 23%;
/*   border: 4px double black; /* Параметры границы */ */
  padding: 10px; 	/*отступ от текста*/
/*   border-style: inset; */
}

	.hightIn{
	  /*border: 4px double black; /* Параметры границы */*/
/* 	  padding: 10px; */
	  border-style: outset;
	  /*height: 24%;*/
	  overflow-x:hidden;
	}
	
	.hightInFooter{
	  /*border: 4px double black; /* Параметры границы */*/
	  padding: 10px;
	  border-style: outset;
	}

.middle{
  float: left;
/*   height: 90%; */
  width: 23%;
/*   border: 4px double black; /* Параметры границы */ */
  padding: 10px; 	/*отступ от текста*/
/*   border-style: inset; */
}

	.middleIn{
	  /*border: 4px double black; /* Параметры границы */*/
/* 	  padding: 10px; */
	  border-style: outset;
	  /*height: 24%;*/
	  overflow-x:hidden;
	}
	
	.middleInFooter{
	  /*border: 4px double black; /* Параметры границы */*/
	  padding: 10px;
	  border-style: outset;
	}

.low{
  float: left;
/*   height: 90%; */
  width: 23%;
/*   border: 4px double black; /* Параметры границы */ */
  padding: 10px; 	/*отступ от текста*/
/*   border-style: inset; */
}

	.lowIn{
	  /*border: 4px double black; /* Параметры границы */*/
/* 	  padding: 10px; */
	  border-style: outset;
	  /*height: 24%;*/
	  overflow-x:hidden;
	}
	
	.lowInFooter{
	  /*border: 4px double black; /* Параметры границы */*/
	  padding: 10px;
	  border-style: outset;
	}

.other{
  float: left;
/*   height: 90%; */
  width: 23%;
/*   border: 4px double black; /* Параметры границы */ */
  padding: 10px; 	/*отступ от текста*/
/*   border-style: inset; */
}

	.otherIn{
	  /*border: 4px double black; /* Параметры границы */*/
/* 	  padding: 10px; */
	  border-style: outset;
	  /*height: 24%;*/
	  overflow-x:hidden;
	}
	
	.otherInFooter{
	  /*border: 4px double black; /* Параметры границы */*/
	  padding: 10px;
	  border-style: outset;
	}